openapi: 3.1.0
info:
  title: Serval Public API
  description: Serval Public API
  contact:
    name: Serval
    url: https://serval.com
    email: support@serval.com
  license:
    name: Serval License
    url: https://serval.com/license
  version: 2.0.0
servers:
  - url: https://public.api.serval.com
paths:
  /v2/access-policies/{id}:
    get:
      tags:
        - Access Policy API
      summary: Get Access Policy
      description: Get a specific access policy by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the access policy.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetAccessPolicyResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Access Policy API
      summary: Update Access Policy
      description: Update an existing access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the access policy.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  description: The name of the access policy.
                description:
                  type: string
                  title: description
                  description: A description of the access policy.
                maxAccessMinutes:
                  type: integer
                  title: max_access_minutes
                  format: int32
                  description: The maximum number of minutes that access can be granted for.
                requireBusinessJustification:
                  type: boolean
                  title: require_business_justification
                  description: Whether a business justification is required when requesting access.
                recommendedAccessMinutes:
                  type: integer
                  title: recommended_access_minutes
                  format: int32
                  description: The recommended duration in minutes for access requests (optional).
                  nullable: true
              title: UpdateAccessPolicyRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateAccessPolicyResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Access Policy API
      summary: Delete Access Policy
      description: Delete an access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteAccessPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the access policy.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteAccessPolicyResponse'
      security:
        - BearerAuth: []
  /v2/access-policies:
    get:
      tags:
        - Access Policy API
      summary: List Access Policies
      description: List all access policies for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListAccessPolicies
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListAccessPoliciesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Access Policy API
      summary: Create Access Policy
      description: Create a new access policy for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateAccessPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateAccessPolicyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateAccessPolicyResponse'
      security:
        - BearerAuth: []
  /v2/workflows/{id}:
    get:
      tags:
        - Workflow API
      summary: Get Workflow
      description: Get a specific workflow by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetWorkflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the workflow.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetWorkflowResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Workflow API
      summary: Update Workflow
      description: Update an existing workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateWorkflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the workflow.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  description: The name of the workflow.
                description:
                  type: string
                  title: description
                  description: A description of the workflow.
                type:
                  title: type
                  description: The type of the workflow.
                  $ref: '#/components/schemas/svflow.pubapimodels.WorkflowType'
                executionScope:
                  title: execution_scope
                  description: The execution scope of the workflow.
                  $ref: '#/components/schemas/svflow.pubapimodels.WorkflowExecutionScope'
                requireFormConfirmation:
                  type: boolean
                  title: require_form_confirmation
                  description: Whether the workflow requires form confirmation.
                isTemporary:
                  type: boolean
                  title: is_temporary
                  description: Whether the workflow is temporary.
                content:
                  type: string
                  title: content
                  description: The content/code of the workflow.
                parameters:
                  type: string
                  title: parameters
                  description: The parameters schema of the workflow (JSON).
              title: UpdateWorkflowRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateWorkflowResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Workflow API
      summary: Delete Workflow
      description: Delete a workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteWorkflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the workflow.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteWorkflowResponse'
      security:
        - BearerAuth: []
  /v2/workflows:
    get:
      tags:
        - Workflow API
      summary: List Workflows
      description: List all workflows for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListWorkflows
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: includeTemporary
          in: query
          description: Whether to include temporary workflows (optional, defaults to false).
          schema:
            type: boolean
            title: include_temporary
            description: Whether to include temporary workflows (optional, defaults to false).
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListWorkflowsResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Workflow API
      summary: Create Workflow
      description: Create a new workflow for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateWorkflow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateWorkflowRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateWorkflowResponse'
      security:
        - BearerAuth: []
  /v2/tags/{id}:
    get:
      tags:
        - Tag API
      summary: Get Tag
      description: Get a specific tag by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetTag
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the tag.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetTagResponse'
      security:
        - BearerAuth: []
  /v2/tags:
    get:
      tags:
        - Tag API
      summary: List Tags
      description: List all tags for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListTags
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListTagsResponse'
      security:
        - BearerAuth: []
  /v2/guidances/{id}:
    get:
      tags:
        - Guidance API
      summary: Get Guidance
      description: Get a specific guidance by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetGuidance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the guidance.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetGuidanceResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Guidance API
      summary: Update Guidance
      description: Update an existing guidance.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateGuidance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the guidance.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  description: The name of the guidance.
                description:
                  type: string
                  title: description
                  description: A description of the guidance.
                content:
                  type: string
                  title: content
                  description: The content of the guidance.
                shouldAlwaysUse:
                  type: boolean
                  title: should_always_use
                  description: Whether this guidance should always be used (optional).
                  nullable: true
              title: UpdateGuidanceRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateGuidanceResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Guidance API
      summary: Delete Guidance
      description: Delete a guidance.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteGuidance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the guidance.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteGuidanceResponse'
      security:
        - BearerAuth: []
  /v2/guidances:
    get:
      tags:
        - Guidance API
      summary: List Guidances
      description: List all guidances for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListGuidances
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListGuidancesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Guidance API
      summary: Create Guidance
      description: Create a new guidance for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateGuidance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateGuidanceRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateGuidanceResponse'
      security:
        - BearerAuth: []
  /v2/app-resources/{id}:
    get:
      tags:
        - App Resource API
      summary: Get App Resource
      description: Get a specific app resource by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetAppResource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the resource.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetAppResourceResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - App Resource API
      summary: Update App Resource
      description: Update an existing app resource.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateAppResource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the resource.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceType:
                  type: string
                  title: resource_type
                  description: The type of the resource.
                name:
                  type: string
                  title: name
                  description: The name of the resource.
                description:
                  type: string
                  title: description
                  description: A description of the resource.
                externalId:
                  type: string
                  title: external_id
                  description: The external ID of the resource (optional).
                  nullable: true
              title: UpdateAppResourceRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateAppResourceResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - App Resource API
      summary: Delete App Resource
      description: Delete an app resource.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteAppResource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the resource.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteAppResourceResponse'
      security:
        - BearerAuth: []
  /v2/app-resources:
    get:
      tags:
        - App Resource API
      summary: List App Resources
      description: List all app resources for a team, optionally filtered by app instance.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListAppResources
      parameters:
        - name: teamId
          in: query
          description: Filter by team ID. At least one of team_id or app_instance_id must be provided.
          schema:
            type: string
            title: team_id
            description: Filter by team ID. At least one of team_id or app_instance_id must be provided.
        - name: appInstanceId
          in: query
          description: Filter by app instance ID. At least one of team_id or app_instance_id must be provided.
          schema:
            type: string
            title: app_instance_id
            description: Filter by app instance ID. At least one of team_id or app_instance_id must be provided.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 5000, maximum is 5000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 5000, maximum is 5000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListAppResourcesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - App Resource API
      summary: Create App Resource
      description: Create a new app resource for an app instance.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateAppResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateAppResourceRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateAppResourceResponse'
      security:
        - BearerAuth: []
  /v2/app-resources/batch:
    put:
      tags:
        - App Resource API
      summary: Batch Update App Resources
      description: Update multiple app resources in a single transactional request. Either all updates succeed or all fail.
      operationId: svrelay.publicv2.PublicAPIServiceV2.BatchUpdateAppResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.BatchUpdateAppResourcesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.BatchUpdateAppResourcesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - App Resource API
      summary: Batch Create App Resources
      description: Create multiple app resources for an app instance in a single request.
      operationId: svrelay.publicv2.PublicAPIServiceV2.BatchCreateAppResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.BatchCreateAppResourcesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.BatchCreateAppResourcesResponse'
      security:
        - BearerAuth: []
  /v2/app-resources/search:
    post:
      tags:
        - App Resource API
      summary: Search App Resources
      description: Search app resources with filters in the request body. Filter by team ID, app instance IDs, or external IDs.
      operationId: svrelay.publicv2.PublicAPIServiceV2.SearchAppResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.SearchAppResourcesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.SearchAppResourcesResponse'
      security:
        - BearerAuth: []
  /v2/app-instances/{app_instance_id}/resources:
    get:
      summary: ListResourcesForAppInstance
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListResourcesForAppInstance
      parameters:
        - name: app_instance_id
          in: path
          required: true
          schema:
            type: string
            title: app_instance_id
            description: The ID of the app instance.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListResourcesForAppInstanceResponse'
      deprecated: true
  /v2/app-resource-entitlements/{id}:
    get:
      summary: GetAppResourceEntitlement
      description: App Resource Entitlement Related Endpoints (deprecated - use Role endpoints)
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetAppResourceEntitlement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the entitlement.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetAppResourceEntitlementResponse'
      deprecated: true
    put:
      summary: UpdateAppResourceEntitlement
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateAppResourceEntitlement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the entitlement.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  description: The name of the entitlement.
                description:
                  type: string
                  title: description
                  description: A description of the entitlement.
                requestsEnabled:
                  type: boolean
                  title: requests_enabled
                  description: Whether requests are enabled for the entitlement.
                accessPolicyId:
                  type: string
                  title: access_policy_id
                  description: The default access policy for the entitlement (optional).
                  nullable: true
                provisioningMethod:
                  title: provisioning_method
                  description: Provisioning configuration. Exactly one method should be set.
                  $ref: '#/components/schemas/svflow.pubapimodels.ProvisioningMethod'
                externalId:
                  type: string
                  title: external_id
                  description: The external ID of the entitlement in the external system (optional).
                  nullable: true
                externalData:
                  type: string
                  title: external_data
                  description: Data from the external system as a JSON string (optional).
                  nullable: true
              title: UpdateAppResourceEntitlementRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateAppResourceEntitlementResponse'
      deprecated: true
    delete:
      summary: DeleteAppResourceEntitlement
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteAppResourceEntitlement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the entitlement.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteAppResourceEntitlementResponse'
      deprecated: true
  /v2/app-resource-entitlements:
    get:
      summary: ListAppResourceEntitlements
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListAppResourceEntitlements
      parameters:
        - name: teamId
          in: query
          description: Filter by team ID. At least one of team_id, app_instance_id, or resource_id must be provided.
          schema:
            type: string
            title: team_id
            description: Filter by team ID. At least one of team_id, app_instance_id, or resource_id must be provided.
        - name: resourceId
          in: query
          description: Filter by resource ID. At least one of team_id, app_instance_id, or resource_id must be provided.
          schema:
            type: string
            title: resource_id
            description: Filter by resource ID. At least one of team_id, app_instance_id, or resource_id must be provided.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 5000, maximum is 5000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 5000, maximum is 5000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
        - name: appInstanceId
          in: query
          description: Filter by app instance ID. At least one of team_id, app_instance_id, or resource_id must be provided.
          schema:
            type: string
            title: app_instance_id
            description: Filter by app instance ID. At least one of team_id, app_instance_id, or resource_id must be provided.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListAppResourceEntitlementsResponse'
      deprecated: true
    post:
      summary: CreateAppResourceEntitlement
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateAppResourceEntitlement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateAppResourceEntitlementRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateAppResourceEntitlementResponse'
      deprecated: true
  /v2/app-resource-entitlements/batch:
    put:
      summary: BatchUpdateAppResourceEntitlements
      operationId: svrelay.publicv2.PublicAPIServiceV2.BatchUpdateAppResourceEntitlements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.BatchUpdateAppResourceEntitlementsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.BatchUpdateAppResourceEntitlementsResponse'
      deprecated: true
  /v2/app-resource-entitlements/search:
    post:
      summary: SearchAppResourceEntitlements
      operationId: svrelay.publicv2.PublicAPIServiceV2.SearchAppResourceEntitlements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.SearchAppResourceEntitlementsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.SearchAppResourceEntitlementsResponse'
      deprecated: true
  /v2/app-resources/{resource_id}/entitlements:
    get:
      summary: ListEntitlementsForAppResource
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListEntitlementsForAppResource
      parameters:
        - name: resource_id
          in: path
          required: true
          schema:
            type: string
            title: resource_id
            description: The ID of the resource.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListEntitlementsForAppResourceResponse'
      deprecated: true
  /v2/app-resource-roles/{id}:
    get:
      tags:
        - App Resource Role API
      summary: Get App Resource Role
      description: Get a specific app resource role by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetAppResourceRole
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the role.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetAppResourceRoleResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - App Resource Role API
      summary: Update App Resource Role
      description: Update an existing app resource role.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateAppResourceRole
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the role.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  description: The name of the role.
                description:
                  type: string
                  title: description
                  description: A description of the role.
                requestsEnabled:
                  type: boolean
                  title: requests_enabled
                  description: Whether requests are enabled for the role.
                accessPolicyId:
                  type: string
                  title: access_policy_id
                  description: The default access policy for the role (optional).
                  nullable: true
                provisioningMethod:
                  title: provisioning_method
                  description: Provisioning configuration. Exactly one method should be set.
                  $ref: '#/components/schemas/svflow.pubapimodels.RoleProvisioningMethod'
                externalId:
                  type: string
                  title: external_id
                  description: The external ID of the role in the external system (optional).
                  nullable: true
                externalData:
                  type: string
                  title: external_data
                  description: Data from the external system as a JSON string (optional).
                  nullable: true
              title: UpdateAppResourceRoleRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateAppResourceRoleResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - App Resource Role API
      summary: Delete App Resource Role
      description: Delete an app resource role.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteAppResourceRole
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the role.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteAppResourceRoleResponse'
      security:
        - BearerAuth: []
  /v2/app-resource-roles:
    get:
      tags:
        - App Resource Role API
      summary: List App Resource Roles
      description: List all app resource roles for a team, optionally filtered by resource.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListAppResourceRoles
      parameters:
        - name: teamId
          in: query
          description: Filter by team ID. At least one of team_id, app_instance_id, or resource_id must be provided.
          schema:
            type: string
            title: team_id
            description: Filter by team ID. At least one of team_id, app_instance_id, or resource_id must be provided.
        - name: appInstanceId
          in: query
          description: Filter by app instance ID. At least one of team_id, app_instance_id, or resource_id must be provided.
          schema:
            type: string
            title: app_instance_id
            description: Filter by app instance ID. At least one of team_id, app_instance_id, or resource_id must be provided.
        - name: resourceId
          in: query
          description: Filter by resource ID. At least one of team_id, app_instance_id, or resource_id must be provided.
          schema:
            type: string
            title: resource_id
            description: Filter by resource ID. At least one of team_id, app_instance_id, or resource_id must be provided.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 5000, maximum is 5000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 5000, maximum is 5000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListAppResourceRolesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - App Resource Role API
      summary: Create App Resource Role
      description: Create a new app resource role for a resource.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateAppResourceRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateAppResourceRoleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateAppResourceRoleResponse'
      security:
        - BearerAuth: []
  /v2/app-resource-roles/batch:
    put:
      tags:
        - App Resource Role API
      summary: Batch Update App Resource Roles
      description: Update multiple app resource roles in a single transactional request. Either all updates succeed or all fail.
      operationId: svrelay.publicv2.PublicAPIServiceV2.BatchUpdateAppResourceRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.BatchUpdateAppResourceRolesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.BatchUpdateAppResourceRolesResponse'
      security:
        - BearerAuth: []
  /v2/app-resource-roles/search:
    post:
      tags:
        - App Resource Role API
      summary: Search App Resource Roles
      description: Search app resource roles with filters in the request body. Filter by team ID or resource IDs.
      operationId: svrelay.publicv2.PublicAPIServiceV2.SearchAppResourceRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.SearchAppResourceRolesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.SearchAppResourceRolesResponse'
      security:
        - BearerAuth: []
  /v2/app-instances/{id}:
    get:
      tags:
        - App Instance API
      summary: Get App Instance
      description: Get a specific app instance by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetAppInstance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the app instance.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetAppInstanceResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - App Instance API
      summary: Update App Instance
      description: Update an existing app instance.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateAppInstance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the app instance.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instanceId:
                  type: string
                  title: instance_id
                  description: The instance ID of the app instance.
                name:
                  type: string
                  title: name
                  description: The name of the app instance.
                defaultAccessPolicyId:
                  type: string
                  title: default_access_policy_id
                  description: The default access policy for the app instance (optional).
                  nullable: true
                accessRequestsEnabled:
                  type: boolean
                  title: access_requests_enabled
                  description: Whether access requests are enabled for the app instance.
              title: UpdateAppInstanceRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateAppInstanceResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - App Instance API
      summary: Delete App Instance
      description: Delete an app instance.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteAppInstance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the app instance.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteAppInstanceResponse'
      security:
        - BearerAuth: []
  /v2/app-instances:
    get:
      tags:
        - App Instance API
      summary: List App Instances
      description: List all app instances for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListAppInstances
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListAppInstancesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - App Instance API
      summary: Create App Instance
      description: Create a new app instance for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateAppInstance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateAppInstanceRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateAppInstanceResponse'
      security:
        - BearerAuth: []
  /v2/custom-services/{id}:
    get:
      tags:
        - Custom Service API
      summary: Get Custom Service
      description: Get a specific custom service by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetCustomService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the custom service.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetCustomServiceResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Custom Service API
      summary: Update Custom Service
      description: Update an existing custom service.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateCustomService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the custom service.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  description: The name of the custom service.
                domain:
                  type: string
                  title: domain
                  description: The domain for branding/logo lookup.
              title: UpdateCustomServiceRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateCustomServiceResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Custom Service API
      summary: Delete Custom Service
      description: Delete a custom service. This will not delete any app instances that use this custom service.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteCustomService
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the custom service.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteCustomServiceResponse'
      security:
        - BearerAuth: []
  /v2/custom-services:
    get:
      tags:
        - Custom Service API
      summary: List Custom Services
      description: List all custom services for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListCustomServices
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListCustomServicesResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Custom Service API
      summary: Create Custom Service
      description: Create a new custom service for a team. Custom services represent external APIs or systems that are not built-in integrations.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateCustomService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svflow.publicapi.CreateCustomServiceRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateCustomServiceResponse'
      security:
        - BearerAuth: []
  /v2/access-policies/{access_policy_id}/approval-procedures/{id}:
    get:
      tags:
        - Access Policy Approval Procedure API
      summary: Get Access Policy Approval Procedure
      description: Get a specific approval procedure by ID for an access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetAccessPolicyApprovalProcedure
      parameters:
        - name: access_policy_id
          in: path
          required: true
          schema:
            type: string
            title: access_policy_id
            description: The ID of the access policy.
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the approval procedure.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetAccessPolicyApprovalProcedureResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Access Policy Approval Procedure API
      summary: Update Access Policy Approval Procedure
      description: Update an existing approval procedure for an access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateAccessPolicyApprovalProcedure
      parameters:
        - name: access_policy_id
          in: path
          required: true
          schema:
            type: string
            title: access_policy_id
            description: The ID of the access policy.
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the approval procedure.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  type: array
                  items:
                    $ref: '#/components/schemas/svflow.pubapimodels.ApprovalStep'
                  title: steps
                  description: The approval steps for the procedure.
              title: UpdateAccessPolicyApprovalProcedureRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateAccessPolicyApprovalProcedureResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Access Policy Approval Procedure API
      summary: Delete Access Policy Approval Procedure
      description: Delete an approval procedure for an access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteAccessPolicyApprovalProcedure
      parameters:
        - name: access_policy_id
          in: path
          required: true
          schema:
            type: string
            title: access_policy_id
            description: The ID of the access policy.
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the approval procedure.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteAccessPolicyApprovalProcedureResponse'
      security:
        - BearerAuth: []
  /v2/access-policies/{access_policy_id}/approval-procedures:
    get:
      tags:
        - Access Policy Approval Procedure API
      summary: List Access Policy Approval Procedures
      description: List all approval procedures for an access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListAccessPolicyApprovalProcedures
      parameters:
        - name: access_policy_id
          in: path
          required: true
          schema:
            type: string
            title: access_policy_id
            description: The ID of the access policy to list approval procedures for.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListAccessPolicyApprovalProceduresResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Access Policy Approval Procedure API
      summary: Create Access Policy Approval Procedure
      description: Create a new approval procedure for an access policy.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateAccessPolicyApprovalProcedure
      parameters:
        - name: access_policy_id
          in: path
          required: true
          schema:
            type: string
            title: access_policy_id
            description: The ID of the access policy to create the approval procedure for.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  type: array
                  items:
                    $ref: '#/components/schemas/svflow.pubapimodels.ApprovalStep'
                  title: steps
                  description: The approval steps for the procedure.
              title: CreateAccessPolicyApprovalProcedureRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateAccessPolicyApprovalProcedureResponse'
      security:
        - BearerAuth: []
  /v2/workflows/{workflow_id}/approval-procedures/{id}:
    get:
      tags:
        - Workflow Approval Procedure API
      summary: Get Workflow Approval Procedure
      description: Get a specific approval procedure by ID for a workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetWorkflowApprovalProcedure
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            title: workflow_id
            description: The ID of the workflow.
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the approval procedure.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.GetWorkflowApprovalProcedureResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Workflow Approval Procedure API
      summary: Update Workflow Approval Procedure
      description: Update an existing approval procedure for a workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateWorkflowApprovalProcedure
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            title: workflow_id
            description: The ID of the workflow.
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the approval procedure.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  type: array
                  items:
                    $ref: '#/components/schemas/svflow.pubapimodels.ApprovalStep'
                  title: steps
                  description: The approval steps for the procedure.
              title: UpdateWorkflowApprovalProcedureRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.UpdateWorkflowApprovalProcedureResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Workflow Approval Procedure API
      summary: Delete Workflow Approval Procedure
      description: Delete an approval procedure for a workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteWorkflowApprovalProcedure
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            title: workflow_id
            description: The ID of the workflow.
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
            description: The ID of the approval procedure.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.DeleteWorkflowApprovalProcedureResponse'
      security:
        - BearerAuth: []
  /v2/workflows/{workflow_id}/approval-procedures:
    get:
      tags:
        - Workflow Approval Procedure API
      summary: List Workflow Approval Procedures
      description: List all approval procedures for a workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListWorkflowApprovalProcedures
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            title: workflow_id
            description: The ID of the workflow to list approval procedures for.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListWorkflowApprovalProceduresResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Workflow Approval Procedure API
      summary: Create Workflow Approval Procedure
      description: Create a new approval procedure for a workflow.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateWorkflowApprovalProcedure
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            title: workflow_id
            description: The ID of the workflow to create the approval procedure for.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  type: array
                  items:
                    $ref: '#/components/schemas/svflow.pubapimodels.ApprovalStep'
                  title: steps
                  description: The approval steps for the procedure.
              title: CreateWorkflowApprovalProcedureRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.CreateWorkflowApprovalProcedureResponse'
      security:
        - BearerAuth: []
  /v2/workflow-approval-procedures:
    get:
      tags:
        - Workflow Approval Procedure API
      summary: List Team Workflow Approval Procedures
      description: 'List all workflow approval procedures for a team.'
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListTeamWorkflowApprovalProcedures
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListTeamWorkflowApprovalProceduresResponse'
      security:
        - BearerAuth: []
      x-hidden: true
  /v2/access-policy-approval-procedures:
    get:
      tags:
        - Access Policy Approval Procedure API
      summary: List Team Access Policy Approval Procedures
      description: 'List all access policy approval procedures for a team.'
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListTeamAccessPolicyApprovalProcedures
      parameters:
        - name: teamId
          in: query
          description: The ID of the team.
          schema:
            type: string
            title: team_id
            description: The ID of the team.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svflow.publicapi.ListTeamAccessPolicyApprovalProceduresResponse'
      security:
        - BearerAuth: []
      x-hidden: true
  /v2/users:
    get:
      tags:
        - User API
      summary: List Users
      description: List all users.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListUsers
      parameters:
        - name: includeDeactivated
          in: query
          description: Whether to include deactivated users in the response.
          schema:
            type: boolean
            title: include_deactivated
            description: Whether to include deactivated users in the response.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.ListUsersResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - User API
      summary: Create User
      description: Create a new user.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svauth.public.CreateUserRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.CreateUserResponse'
      security:
        - BearerAuth: []
  /v2/users/{id}:
    get:
      tags:
        - User API
      summary: Get User
      description: Get a specific user by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.GetUserResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - User API
      summary: Update User
      description: Update an existing user.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  title: email
                  nullable: true
                firstName:
                  type: string
                  title: first_name
                  nullable: true
                lastName:
                  type: string
                  title: last_name
                  nullable: true
                role:
                  title: role
                  nullable: true
                  $ref: '#/components/schemas/svauth.public.UserOrganizationRole'
                avatarUrl:
                  type: string
                  title: avatar_url
                  nullable: true
              title: UpdateUserRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.UpdateUserResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - User API
      summary: Delete User
      description: Delete a user.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.DeleteUserResponse'
      security:
        - BearerAuth: []
  /v2/groups:
    get:
      tags:
        - Group API
      summary: List Groups
      description: List all groups.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListGroups
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 5000, maximum is 5000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 5000, maximum is 5000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.ListGroupsResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Group API
      summary: Create Group
      description: Create a new group.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svauth.public.CreateGroupRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.CreateGroupResponse'
      security:
        - BearerAuth: []
  /v2/groups/{id}:
    get:
      tags:
        - Group API
      summary: Get Group
      description: Get a specific group by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.GetGroupResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Group API
      summary: Update Group
      description: Update an existing group.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  nullable: true
                userIds:
                  type: array
                  items:
                    type: string
                  title: user_ids
              title: UpdateGroupRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.UpdateGroupResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Group API
      summary: Delete Group
      description: Delete a group.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.DeleteGroupResponse'
      security:
        - BearerAuth: []
  /v2/teams:
    get:
      tags:
        - Team API
      summary: List Teams
      description: List all teams.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListTeams
      parameters:
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.ListTeamsResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Team API
      summary: Create Team
      description: Create a new team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svauth.public.CreateTeamRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.CreateTeamResponse'
      security:
        - BearerAuth: []
  /v2/teams/{id}:
    get:
      tags:
        - Team API
      summary: Get Team
      description: Get a specific team by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetTeam
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.GetTeamResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Team API
      summary: Update Team
      description: Update an existing team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateTeam
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  nullable: true
                prefix:
                  type: string
                  title: prefix
                  nullable: true
                description:
                  type: string
                  title: description
                  nullable: true
                userIds:
                  type: array
                  items:
                    type: string
                  title: user_ids
              title: UpdateTeamRequest
              additionalProperties: false
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.UpdateTeamResponse'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Team API
      summary: Delete Team
      description: Delete a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.DeleteTeam
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svauth.public.DeleteTeamResponse'
      security:
        - BearerAuth: []
  /v2/tickets:
    get:
      tags:
        - Ticket API
      summary: List Tickets
      description: List tickets for a team.
      operationId: svrelay.publicv2.PublicAPIServiceV2.ListTickets
      parameters:
        - name: teamId
          in: query
          schema:
            type: string
            title: team_id
        - name: startTime.seconds
          in: query
          description: |-
            Represents seconds of UTC time since Unix epoch
             1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to
             9999-12-31T23:59:59Z inclusive.
          schema:
            type:
              - integer
              - string
            title: seconds
            format: int64
            description: |-
              Represents seconds of UTC time since Unix epoch
               1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to
               9999-12-31T23:59:59Z inclusive.
        - name: startTime.nanos
          in: query
          description: |-
            Non-negative fractions of a second at nanosecond resolution. Negative
             second values with fractions must still have non-negative nanos values
             that count forward in time. Must be from 0 to 999,999,999
             inclusive.
          schema:
            type: integer
            title: nanos
            format: int32
            description: |-
              Non-negative fractions of a second at nanosecond resolution. Negative
               second values with fractions must still have non-negative nanos values
               that count forward in time. Must be from 0 to 999,999,999
               inclusive.
        - name: pageSize
          in: query
          description: Maximum number of results to return. Default is 1000, maximum is 1000.
          schema:
            type: integer
            title: page_size
            format: int32
            description: Maximum number of results to return. Default is 1000, maximum is 1000.
        - name: pageToken
          in: query
          description: Token for pagination. Leave empty for the first request.
          schema:
            type: string
            title: page_token
            description: Token for pagination. Leave empty for the first request.
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svhelp.publicapi.ListTicketsResponse'
      security:
        - BearerAuth: []
    post:
      tags:
        - Ticket API
      summary: Create Ticket
      description: Create a new ticket.
      operationId: svrelay.publicv2.PublicAPIServiceV2.CreateTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/svhelp.publicapi.CreateTicketRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svhelp.publicapi.CreateTicketResponse'
      security:
        - BearerAuth: []
  /v2/tickets/{id}:
    get:
      tags:
        - Ticket API
      summary: Get Ticket
      description: Get a specific ticket by ID.
      operationId: svrelay.publicv2.PublicAPIServiceV2.GetTicket
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svhelp.publicapi.GetTicketResponse'
      security:
        - BearerAuth: []
    put:
      tags:
        - Ticket API
      summary: Update Ticket
      description: Update an existing ticket.
      operationId: svrelay.publicv2.PublicAPIServiceV2.UpdateTicket
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            title: id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  title: name
                  nullable: true
                description:
                  type: string
                  title: description
[...]
